<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lantel.homelibrary">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".course.CourseActivity">

        </activity>

        <activity android:name=".attence.AttenceActivity">

        </activity>

        <activity android:name="com.lantel.studylibrary.classes.ClassesActivity">

        </activity>

        <activity android:name="com.lantel.studylibrary.course.CourseActivity">

        </activity>

        <activity android:name="com.lantel.homelibrary.output.OutputActivity">

        </activity>

        <activity android:name="com.lantel.homelibrary.output.OutputDetailActivity">

        </activity>

        <activity android:name="com.lantel.setting.personal.SettingPersonal"/>

        <activity android:name="com.lantel.common.EditTextActivity"/>

        <activity android:name="com.lantel.setting.bindfile.SettingBindFile"/>

        <activity android:name="com.lantel.setting.feedback.FeedBackActivity"/>

        <activity android:name="com.lantel.setting.editPassword.EditPassword"/>

        <activity android:name="com.lantel.setting.bindAccount.BindAccount"/>

        <activity android:name="com.lantel.setting.bindfile.bindstudent.BindStudentActivity"/>
    </application>
</manifest>